<html>
    <head>
        <title>Kayleigh's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kayleigh's Blog</a></h1>
        </div>

        <div>
            <p>published: 20/07/2019, 17:00</p>
            <h2><a href="">No Idea</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div>
            <p>published: 20/7/2019, 18:00</p>
            <h2><a href="">Hey</a></h2>
            <p>Congue pretium lorem consectetuer sem. Dictum parturient fringilla. Odio potenti, vehicula euismod metus pede convallis mollis rhoncus dui aliquam iaculis nascetur interdum lectus aliquam purus hac a sem.</p>
        </div>
    </body>
</html>